* {
    list-style: none;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

nav {
    z-index: 1;
    justify-content: space-around;
    position: fixed;

}

.nav-link{
    color: rgb(255, 255, 255);
}

.navbar {
    background-color:black;
  
}

.container1 {
    height: 40;
    background-color: white;
    color: white;
    border-bottom: 1px solid gray;
}

.word1{
    margin-top: 30px;
    padding-left: 50px;
    
    
}
.word2{
    color: black;
    text-align:center ;
    font-weight: 800;
    font-style:inherit;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 30px;
}

img {
    max-width: 100%;
    justify-content:;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    padding: 10px;
}

.product-section{
    
    overflow: hidden;
    width: 100vw;
}

.vertical-scroll-container{
    width: 100%;
    display: flex;
    gap: 40px;
    overflow-x: scroll;
}
.product img{
    height: 400px;
}

.product{
    background-color:rgba(188, 169, 169, 0.434);
    width: 400px;
    border-radius:0;
    border: 3px solid rgb(21, 20, 20);
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
}

.product img{
    height: 300px;
    padding-inline: 20px;
}


  .product-section1{
    padding-top: 30px;
  }